<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>potfolio</title>
</head>
<div class="loader">

    <div id="preloader">
        </div>
        <div>
            <p style="color: #ffffff; font-size: 20px;">...wait a second...</p>
            <p style="font-size: 30px; font-weight: bolder; text-align: center;"><span style="color: #000077;">p</span><span style="color: #000000">r</span><span style="color: #fcba05;">i</span><span style="color: #000000;">m</span><span style="color: #007700; font-size:35px;">U</p>
    <p id="text"><span style="color: #ffffff; font-size: 20px;"> is collecting information...</span></p>
            </div>
</div>
<body>

    <header>
        
        <nav>
            <div class="potfolio-intro">
                <img class="logo" src="/static/Images/primULogo.png" alt="potfolio-logo">
                <h4>Web Developer</h4>
            </div>

            <ul class="navLinks">
                
                <li><a id="linkers" href="">About</a></li>
                <li><a id="linkers" href="#contact-me">Contacts</a></li>
                <li><a id="linkers" href="#myProjects">Projects</a></li>
                <li><a id="linkers" href="#contact-me">Hire</a></li>
                <li id="dark-toggle"><a href="#">Dark</a></li>

            </ul>

            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

        </nav>

    
        <div style="display: flex; justify-content: center; align-items: center; font-size: 30px; color: #ffffff; margin-top: 30px;">
            <h4>About Me</h4>
        </div>
        
        <div class="about" id="about-me">
                
                <p>
                    Iam <strong>Aine Jimson</strong>, a self taught programmer born in <strong>Uganda</strong> aged <strong><em>20 Years</em></strong>. <br>
                    Iam a technology enthusiast and that's why iam so much into development. <br>
                    Iam a young man with high technology hopes and ambitions. <br> My goal is to develop something that the world will be proud of one day <br> 
                    and definately be someone bigger than i am today.
                    <br>
                    I personally love computing and anything technology related is my hobby. <br> I can't give it a cold shoulder.
                </p>

                <img class="my-image" src="/static/Images/potfolioImg.png" alt="my-image">
        </div>

    </header>

    <main>
        <div class="experience" id="myExperience">
            <h4>Developer Experience</h4>
            <p>
                I have so far spent 1.5 years in development journey.  <br> The folowing are some of the technologies I have mastered in that period.</p>
                <div class="languages">
                    <div class="Front-End">
                        <strong>Web development (Front End)</strong>
                        
                        <li>HTML5 <img class="soft-images" src="https://tse2.mm.bing.net/th?id=OIP.sxgAuWLSIvPXh0cZ2bmQvgHaIj&pid=Api&P=0&w=145&h=168" alt="html5-image"></li>
                        <li>CSS3 <img class="soft-images" src="https://tse2.mm.bing.net/th?id=OIP.OsnVE2K6dEKd7tBKTnC9TAHaJu&pid=Api&P=0&w=120&h=158" alt="CSS3-image"></li>
                        <li>BootStrap4 <img class="soft-images" src="https://tse3.mm.bing.net/th?id=OIP.mNLHMt-PM0iPB52LqWOBAgHaHd&pid=Api&P=0&w=183&h=184" alt="BootStrap-image"></li>
                        <li>JavaScript <img class="soft-images" src="https://tse1.mm.bing.net/th?id=OIP.6ahbWjp_g9hqhaTDSJOL1QHaEK&pid=Api&P=0&w=345&h=194" alt="JavaScript-image"></li>
                        <li>React <img class="soft-images" src="https://tse1.mm.bing.net/th?id=OIP.Tpo0do4FnIyuhxRRUnFWjwHaHA&pid=Api&P=0&w=162&h=153" alt="React-image"></li>
                    </div>

                    <div class="Back-End">
                        <strong>Web development (Back End)</strong>
                        
                        <li>Django <img class="soft-images" src="https://tse4.mm.bing.net/th?id=OIP.SCnrYXsd_oqPwZ1or9uyagHaCl&pid=Api&P=0&w=423&h=147" alt="Django-image"></li>
                        <li>Flask <img class="soft-images" src="https://tse4.mm.bing.net/th?id=OIP.hoh6_0eQhCoBtO8ijyY-qQHaEH&pid=Api&P=0&w=305&h=169" alt="Flask-image"></li>
                    </div>


                    <div class="DataBase">
                        <strong>Web development (DataBase) <i class="fa fa-database"></i></strong>
                        
                        <li>Postgresql <img class="soft-images" src="https://tse4.mm.bing.net/th?id=OIP.GKDbFebiAd2UKez5uVVeZAHaDb&pid=Api&P=0&w=376&h=174" alt="Postgres-image"></li>
                        <li>MySql <img class="soft-images" src="https://tse2.mm.bing.net/th?id=OIP.a0fX_sFdPhpd4IasHICPbQHaEX&pid=Api&P=0&w=357&h=211" alt="MySql-image"></li>
                        <li>Sqlite <img class="soft-images" src="https://tse2.mm.bing.net/th?id=OIP.-SGyFwRQWfhjg2OZHEO4oQHaDg&pid=Api&P=0&w=370&h=175" alt="Sqlite-image"></li>
                    </div>

                    <strong class="hire"><a style="text-decoration: none; text-align:center; font-size: 30px; color: #000077;" href="#contact-me">Hire Me</a></strong>

                </div>

        </div>

        <div class="projects" id="myProjects">

            <h4>Projects</h4>
            <p>Throughout my development journey, i have worked on a few projects and some are included here...</p>
            <div id="swipegallery" class="touchgallery">
                <ul id="sites">
                    <div class="sites">
                            <strong style="text-align: center; margin-bottom: 10px; margin-top: 5px; color: #49fc02;">Quizz App</strong>
                            <li><img src="/static/Images/quizzApp.png" /></li>
                            <div class="links">
                                <a class="btn-links" href="https://teenquizzapp.herokuapp.com/"><button>Live</button></a>  <a class="git-links" href="#"><button class="git-button">Github</button></a>
                            </div> 
                    </div>
                    <div class="sites">
                        <strong style="text-align: center; margin-bottom: 10px; margin-top: 5px; color: #0206fc;">Banix Salon website</strong>
                        <li><img src="/static/Images/banixWeb.png" /></li>
                        <div class="links">
                            <a class="btn-links" href="https://banix-salon.herokuapp.com/"><button>Live</button></a>  <a class="git-links" href="#"><button class="git-button">Github</button></a>
                        </div> 
                    </div>
                    <div class="sites">
                            <strong style="text-align: center; margin-bottom: 10px; margin-top: 5px; color: #1b1b1d;">Profile Viewer</strong>
                            <li><img src="/static/Images/profileViewer.png" /></li>
                            <div class="links">
                                <a class="btn-links" href="#"><button>Live</button></a>  <a class="git-links" href="#"><button class="git-button">Github</button></a>
                            </div> 
                    </div>
                    <div class="sites">
                            <strong style="text-align: center; margin-bottom: 10px; margin-top: 5px; color: #115869;">My potfolio</strong>
                            <li><img src="/static/Images/potfolioShot.png" /></li>
                            <div class="links">
                                <a class="btn-links" href="#"><button>Live</button></a>  <a class="git-links" href="#"><button class="git-button">Github</button></a>
                            </div> 
                    </div>
                </ul>
            </div>

            <div class="buttons">
                <li id="slide-1" ></li>
                <li id="slide-2" ></li>
                <li id="slide-3" ></li>
                <li id="slide-4" ></li>
            </div>
               
            <strong><a class="hire" style="color:#000077; font-size: 30px; text-decoration: none;" href="#contact-me">Hire Me</a></strong>

        </div>

    </main>
    <div class="end">
        <div class="contact" id="contact-me">

            <h4 style="color: #f80713; font-size:20px;">Contact Me</h4>
            <strong>For more, try.</strong>
            
            <ul class="myContacts">
                <li><a href="#"> <i style="color: #770000; font-size: 30px;" class="fa fa-envelope"></i> <span class="black">Email Me:</span>    primu333@gmail.com</a></li>
                <li><a href="#"> <i style="color: #000077; font-size: 30px;"class="fa fa-phone"></i> <span class="black">Call: </span>   +256 782 607681 <span class="black"> // </span>+256 704 809826</a></li>
                <li><a href="#"> <i style="color: #007700; font-size: 30px;" class="fa fa-whatsapp"></i> <span class="black">WhatsApp:</span>    +256 782 607681 <span class="black"> // </span> +256 704 809826</a></li>
                <li><a href="#"> <i style="color: #000070; font-size: 30px;" class="fa fa-facebook"></i> <span class="black">Facebook :</span>  Jimson At Primu</a></li>
                <li><a href="#"> <i style="color: #fcba05; font-size: 30px;" class="fa fa-github"></i> <span class="black">Github:</span> primU333</a></li>
                <li><a href="#"> <i style="color: #023cfc; font-size: 30px;" class="fa fa-twitter"></i> <span class="black">Twiter:</span> primU333</a></li>
            </ul>
        </div>

        
        <div class="personal">
            <strong>Who I am</strong>
            <ul class="foooter-links">
                <li><a id="linkers" href="">About me</a></li>
                <li><a href="#myExperience">Experience</a></li>
                <li><a href="#contact-me">Contacts</a></li>
                <li><a href="#myProjects">Projects</a></li>
            </ul>
        </div>
    </div>
    <footer>
        <img class="footer-logo" src="/static/Images/primULogo.png" alt="primU-logo">
        <p>copyright of primU developers &copy; 2022  inc. All rights reserved.</p>
    </footer>
</body>
<script src="/static/JavaScript/script.js"></script>
</html>